#####################################################################
accepted_credentials       "*"
authorized_retrievers      "*"
default_retrievers         "*"
authorized_renewers        "*"
default_renewers           "none"
authorized_key_retrievers  "*"
default_key_retrievers     "none"
trusted_retrievers         "*"
default_trusted_retrievers "none"
cert_dir /opt/dirac/etc/grid-security/certificates

#authorized_retrievers "*"
#pam  "sufficient"
#sasl "sufficient"
certificate_issuer_cert /opt/dirac/etc/grid-security/ca/ca.cert.pem
certificate_issuer_key /opt/dirac/etc/grid-security/ca/ca.key.pem
#certificate_issuer_key_passphrase "myproxy"
#certificate_serialfile /home/globus/.globus/simpleCA/serial
#certificate_out_dir /home/globus/.globus/simpleCA/newcerts
#certificate_mapfile /etc/grid-security/grid-mapfile
#cert_dir /etc/grid-security/certificates

#accepted_credentials  "/C=US/O=National Computational Science Alliance/CN=*"
#accepted_credentials  "/C=US/O=Globus/*"
#accepted_credentials  "/O=Grid/O=Globus/*"
#accepted_credentials  "*"

#authorized_retrievers "/C=US/O=National Computational Science Alliance/CN=portal/*"
#authorized_retrievers "*"

#default_retrievers "/C=US/O=National Computational Science Alliance/CN=portal/*"

#authorized_renewers "/C=US/O=National Computational Science Alliance/CN=scheduler/*"
#authorized_renewers "*"

#default_renewers "none"
#default_renewers "/C=US/O=National Computational Science Alliance/CN=condorg/modi4.ncsa.uiuc.edu"

#authorized_key_retrievers "*"

#default_key_retrievers "none"

#trusted_retrievers "*"

#default_trusted_retrievers "none"


#allow_self_authorization true

#passphrase_policy_program /usr/local/sbin/myproxy-passphrase-policy

#cert_dir /etc/grid-security/certificates

#max_proxy_lifetime 12

#max_cred_lifetime 12

#ignore_globus_limited_proxy_flag true

#pam "disabled"

#pam_id "myproxy"

#sasl "disabled"

#sasl_mech GSSAPI

#sasl_serverFQDN myproxy.teragrid.org

#sasl_user_realm TERAGRID.ORG

#certificate_issuer_cert /home/globus/.globus/simpleCA/cacert.pem

#certificate_issuer_key /home/globus/.globus/simpleCA/private/cakey.pem

#certificate_issuer_key_passphrase "myproxy"

#certificate_issuer_subca_certfile "/etc/grid-security/subca_certificates"

#certificate_issuer_hashalg "sha256"

#certificate_issuer_program /usr/local/sbin/myproxy-ca

#certificate_openssl_engine_id "dynamic"

#certificate_openssl_engine_lockfile /var/lib/myproxy/enginelock



#certificate_serialfile /home/globus/.globus/simpleCA/serial

#certificate_serial_skip 1

#certificate_out_dir /home/globus/.globus/simpleCA/newcerts

#certificate_issuer_email_domain "ncsa.uiuc.edu"

#max_cert_lifetime 12

#min_keylen 1024

#certificate_extfile /etc/myproxy-ca-extfile.txt

#certificate_extapp /usr/local/sbin/myproxy-extapp

#certificate_mapfile /etc/grid-security/grid-mapfile

#certificate_mapapp /usr/local/sbin/myproxy-mapapp

#certificate_request_checker /usr/local/bin/certreq-checker

#certificate_issuer_checker /usr/local/bin/cert-checker

#ca_ldap_server "ldap://localhost:389/"

#ca_ldap_uid_attribute "uid"

#ca_ldap_searchbase "ou=people,dc=bullwinkle,dc=lbl,dc=gov"

#ca_ldap_dn_attribute "subjectDN"

#ca_ldap_connect_dn "cn=Monte Goode,ou=ldapusers,dc=bullwinkle,dc=lbl,dc=gov"
#ca_ldap_connect_passphrase "passphrase"

#ca_ldap_start_tls true

#slave_servers

#accepted_credentials_mapfile /etc/grid-security/store-mapfile

#accepted_credentials_mapapp /usr/local/sbin/myproxy-accepted-mapapp

#check_multiple_credentials true

#ocsp_policy "aia"

#ocsp_responder_url "http://ca.ncsa.uiuc.edu:8888/"

#ocsp_responder_cert /etc/grid-security/trustedocspresponder.pem

#syslog_ident myproxy-server


#syslog_facility user

#request_timeout 120

#request_size_limit 1048576

#proxy_extfile /etc/myproxy-proxy-extfile.txt

#proxy_extapp /usr/local/sbin/myproxy-extapp

#allow_voms_attribute_requests true

voms_userconf /opt/dirac/etc/grid-security/vomses
